<!-- Function 1: After successful registration -->
<!-- span id tags: function1-user, function1-pw -->
<div th:if="${isRegisterConfirmation}">
    <table style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;vertical-align: top;min-width: 320px;Margin: 0 auto;background-color: #ffffff;width:100%" cellpadding="0" cellspacing="0">
      <tr style="vertical-align: top"><td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">
        <div style="margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #13181b;">
          <img align="left" border="0" src="https://i.imgur.com/kLMUMZx.png" alt="Image" title="Image" style="padding:20px; padding-left:50px; outline: none;text-decoration: none;display: inline-block !important;border: none;height: auto;float: none;width: 29%;max-width: 69.6px;" width="69.6"/>
        </div>
        <div style="padding-top: 10px;padding-bottom: 10px;">
          <div style="background-image: url('https://i.imgur.com/o3KR3Hw.jpeg');margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #ffffff;">
            <div style="border-collapse: collapse;display: table;width: 100%;background-image: url('https://i.imgur.com/o3KR3Hw.jpeg');background-repeat: no-repeat;background-position: center top;background-color: transparent;">
              <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
                <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:93px 10px 10px;font-family:arial,helvetica,sans-serif;" align="left">
                  <div style="color: #ffffff; line-height: 130%; text-align: left; word-wrap: break-word;">
                    <p style="line-height: 130%; font-size: 14px; text-align: center;margin: 0;">
                      <span style="font-family: helvetica, sans-serif; font-size: 38px; line-height: 49.4px;">
                      <span id="title" style="line-height: 49.4px; font-size: 38px;">
                      <strong>WELCOME TO SWISSHACK</strong>
                      </span>
                      </span>
                    </p>
                  </div>
                </td></tr>
              </table>
              <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
                <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:32px 62px 20px 40px;font-family:arial,helvetica,sans-serif;" align="left">
                  <div style="color: #cec9c9; line-height: 140%; text-align: left; word-wrap: break-word;">
                    <p style="line-height: 140%; font-size: 14px; text-align: center;margin: 0;">
                      <span style="font-family: helvetica, sans-serif; font-size: 18px; line-height: 25.2px; color: #ffffff;">
                      <span id="text" style="line-height: 25.2px; font-size: 18px;">
                      Your account has been successfully registered. <br>Before you can access your account, please click the link below to verify your account!
                      </span>
                      </span>
                    </p>
                  </div>
                </td></tr>
              </table>
              <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
                <tr><td style="auto;overflow-wrap:break-word;word-break:break-word;padding:32px 62px 20px 40px;font-family:arial,helvetica,sans-serif;" align="left">
                  <div style="margin:auto;width:400px; height:auto;background-color:#FFFFFFBB;color: #cec9c9; line-height: 140%; text-align: left; word-wrap: break-word;">
                    <p style="padding-top: 26px;padding-bottom: 26px; middle;line-height: 140%; font-size: 14px; text-align: center;margin: 0;">
                      <span style="vertical-align: middle;font-family: helvetica, sans-serif; font-size: 18px; line-height: 25.2px; color: #1f1f1f;">
                      <span style="line-height: 25.2px; font-size: 16.5px;">
                      <strong>Link: <a><span th:text="${token}" id="function1-user"></span></a><br>
                      </span>
                      </span>
                    </p>
                  </div>
                </td></tr>
              </table>
              <table style="font-family:arial,helvetica,sans-serif;padding-bottom:90px" cellpadding="0" cellspacing="0" width="100%" border="0">
                <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:44px 10px;font-family:arial,helvetica,sans-serif;" align="left">
                  <div  align="center">
                    <!-- <a href="http://localhost:8080/login" style="box-sizing: border-box;display: inline-block;font-family:arial,helvetica,sans-serif;text-decoration: none;text-align: center;color: #FFFFFF; background-color: #1848b8; border-radius: 27px; width:39%; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word;"> -->
                    <span style="display:block;padding:13px 30px;line-height:120%;">
                    <strong>
                    <span style="font-size: 18px; line-height: 21.6px; font-family: arial, helvetica, sans-serif;">
                    Please copy and paste the link into the browser.
                    </span>
                    </strong>
                    </span>
                    <!-- </a> -->
                  </div>
                </td></tr>
              </table>
            </div>
          </div>
        </div>
        <div style="padding: 0px;">
          <div style="margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #13181b;border-collapse: collapse;display: table;width: 100%;">
            <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
              <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:22px 24px 9px;font-family:arial,helvetica,sans-serif;" align="left">
                <div style="color: #ffffff; line-height: 140%; text-align: center; word-wrap: break-word;">
                  <p style="font-size: 14px; line-height: 140%;margin: 0;">
                    <span style="font-size: 12px; line-height: 16.8px;">It's time for an expert.</span>
                  </p>
                  <p style="font-size: 14px; line-height: 140%;margin: 0;">
                    <span style="font-size: 12px; line-height: 16.8px;">Let's make the New Normal great again!</span>
                  </p>
                </div>
              </td></tr>
            </table>
            <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
              <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:arial,helvetica,sans-serif;" align="left">
                <table height="0px" align="center" border="0" cellpadding="0" cellspacing="0" width="26%" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;vertical-align: top;border-top: 1px solid #BBBBBB;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%">
                  <tr style="vertical-align: top"><td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;font-size: 0px;line-height: 0px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%"></td></tr>
                </table>
              </td></tr>
            </table>
            <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
              <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:4px 10px 23px;font-family:arial,helvetica,sans-serif;" align="left">
                <div style="color: #858383; line-height: 140%; text-align: center; word-wrap: break-word;">
                  <p style="font-size: 14px; line-height: 140%;margin: 0;">
                    <span style="font-size: 12px; line-height: 16.8px;">You are subscribed to Swisshack's Mailing List. 
                    <a href="https://google.com"> <span style="text-decoration: underline; line-height: 16.8px; font-size: 12px; color:#8f8f8f"></span> </a>
                    </span>
                  </p>
                </div>
              </td></tr>
            </table>
          </div>
        </div>
      </td></tr>
    </table>
  </div>
  
  
  <!-- Function 2: After account deletion -->
  <div th:if="${isDeleted}">
    <table style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;vertical-align: top;min-width: 320px;Margin: 0 auto;background-color: #ffffff;width:100%" cellpadding="0" cellspacing="0">
      <tr style="vertical-align: top"><td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">
        <div style="margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #13181b;">
          <img align="left" border="0" src="https://i.imgur.com/kLMUMZx.png" alt="Image" title="Image" style="padding:20px; padding-left:50px; outline: none;text-decoration: none;display: inline-block !important;border: none;height: auto;float: none;width: 29%;max-width: 69.6px;" width="69.6"/>
        </div>
        <div style="padding-top: 10px;padding-bottom: 10px;">
          <div style="background-image: url('https://i.imgur.com/o3KR3Hw.jpeg');margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #ffffff;">
            <div style="border-collapse: collapse;display: table;width: 100%;background-image: url('https://i.imgur.com/o3KR3Hw.jpeg');background-repeat: no-repeat;background-position: center top;background-color: transparent;">
              <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
                <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:93px 10px 10px;font-family:arial,helvetica,sans-serif;" align="left">
                  <div style="color: #ffffff; line-height: 130%; text-align: left; word-wrap: break-word;">
                    <p style="line-height: 130%; font-size: 14px; text-align: center;margin: 0;">
                      <span style="font-family: helvetica, sans-serif; font-size: 38px; line-height: 49.4px;">
                      <span style="line-height: 49.4px; font-size: 38px;">
                      <strong>ACCOUNT DELETION</strong>
                      </span>
                      </span>
                    </p>
                  </div>
                </td></tr>
              </table>
              <table style="padding-bottom:90px;font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
                <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:32px 62px 20px 40px;font-family:arial,helvetica,sans-serif;" align="left">
                  <div style="color: #cec9c9; line-height: 140%; text-align: left; word-wrap: break-word;">
                    <p style="line-height: 140%; font-size: 14px; text-align: center;margin: 0;">
                      <span style="font-family: helvetica, sans-serif; font-size: 18px; line-height: 25.2px; color: #ffffff;">
                      <span style="line-height: 25.2px; font-size: 18px;">
                      This is to inform you that your Swisshack account has now been deactivated. We are sorry to see you go.
                      </span>
                      </span>
                    </p>
                  </div>
                </td></tr>
              </table>
            </div>
          </div>
        </div>
        <div style="padding: 0px;">
          <div style="margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #13181b;border-collapse: collapse;display: table;width: 100%;">
            <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
              <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:22px 24px 9px;font-family:arial,helvetica,sans-serif;" align="left">
                <div style="color: #ffffff; line-height: 140%; text-align: center; word-wrap: break-word;">
                  <p style="font-size: 14px; line-height: 140%;margin: 0;">
                    <span style="font-size: 12px; line-height: 16.8px;">It's time for an expert.</span>
                  </p>
                  <p style="font-size: 14px; line-height: 140%;margin: 0;">
                    <span style="font-size: 12px; line-height: 16.8px;">Let's make the New Normal great again!</span>
                  </p>
                </div>
              </td></tr>
            </table>
            <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
              <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:arial,helvetica,sans-serif;" align="left">
                <table height="0px" align="center" border="0" cellpadding="0" cellspacing="0" width="26%" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;vertical-align: top;border-top: 1px solid #BBBBBB;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%">
                  <tr style="vertical-align: top"><td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;font-size: 0px;line-height: 0px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%"></td></tr>
                </table>
              </td></tr>
            </table>
            <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
              <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:4px 10px 23px;font-family:arial,helvetica,sans-serif;" align="left">
                <div style="color: #858383; line-height: 140%; text-align: center; word-wrap: break-word;">
                  <p style="font-size: 14px; line-height: 140%;margin: 0;">
                    <span style="font-size: 12px; line-height: 16.8px;">You are subscribed to Swisshack's Mailing List. 
                    <a href="https://google.com"> <span style="text-decoration: underline; line-height: 16.8px; font-size: 12px; color:#8f8f8f"></span> </a>
                    </span>
                  </p>
                </div>
              </td></tr>
            </table>
          </div>
        </div>
      </td></tr>
    </table>
  </div>
  
  
  <!-- Function 3: After password change -->
  <!-- span tag id: function3-pw -->
  <div th:if="${requestPasswordChange}">
    <table style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;vertical-align: top;min-width: 320px;Margin: 0 auto;background-color: #ffffff;width:100%" cellpadding="0" cellspacing="0">
      <tr style="vertical-align: top"><td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">
        <div style="margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #13181b;">
          <img align="left" border="0" src="https://i.imgur.com/kLMUMZx.png" alt="Image" title="Image" style="padding:20px; padding-left:50px; outline: none;text-decoration: none;display: inline-block !important;border: none;height: auto;float: none;width: 29%;max-width: 69.6px;" width="69.6"/>
        </div>
        <div style="padding-top: 10px;padding-bottom: 10px;">
          <div style="background-image: url('https://i.imgur.com/o3KR3Hw.jpeg');margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #ffffff;">
            <div style="border-collapse: collapse;display: table;width: 100%;background-image: url('https://i.imgur.com/o3KR3Hw.jpeg');background-repeat: no-repeat;background-position: center top;background-color: transparent;">
              <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
                <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:93px 10px 10px;font-family:arial,helvetica,sans-serif;" align="left">
                  <div style="color: #ffffff; line-height: 130%; text-align: left; word-wrap: break-word;">
                    <p style="line-height: 130%; font-size: 14px; text-align: center;margin: 0;">
                      <span style="font-family: helvetica, sans-serif; font-size: 38px; line-height: 49.4px;">
                      <span style="line-height: 49.4px; font-size: 38px;">
                      <strong>REQUEST PASSWORD CHANGE</strong>
                      </span>
                      </span>
                    </p>
                  </div>
                </td></tr>
              </table>
              <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
                <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:32px 62px 20px 40px;font-family:arial,helvetica,sans-serif;" align="left">
                  <div style="color: #cec9c9; line-height: 140%; text-align: left; word-wrap: break-word;">
                    <p style="line-height: 140%; font-size: 14px; text-align: center;margin: 0;">
                      <span style="font-family: helvetica, sans-serif; font-size: 18px; line-height: 25.2px; color: #ffffff;">
                      <span style="line-height: 25.2px; font-size: 18px;">
                      You have recently requested for a new password. Please login and change your password as soon as possible. Thank you.
                      </span>
                      </span>
                    </p>
                  </div>
                </td></tr>
              </table>
              <table style="padding-bottom:90px;font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
                <tr><td style="auto;overflow-wrap:break-word;word-break:break-word;padding:32px 62px 20px 40px;font-family:arial,helvetica,sans-serif;" align="left">
                  <div style="margin:auto;width:300px; height:auto;background-color:#FFFFFFBB;color: #cec9c9; line-height: 140%; text-align: left; word-wrap: break-word;">
                    <p style="padding-top: 26px;padding-bottom: 26px; middle;line-height: 140%; font-size: 14px; text-align: center;margin: 0;">
                      <span style="vertical-align: middle;font-family: helvetica, sans-serif; font-size: 18px; line-height: 25.2px; color: #1f1f1f;">
                      <span style="line-height: 25.2px; font-size: 16.5px;">
                      <strong>New Password: <span th:text="${password}" id="function3-pw"></span></strong>
                      </span>
                      </span>
                    </p>
                  </div>
                </td></tr>
              </table>
            </div>
          </div>
        </div>
        <div style="padding: 0px;">
          <div style="margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #13181b;border-collapse: collapse;display: table;width: 100%;">
            <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
              <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:22px 24px 9px;font-family:arial,helvetica,sans-serif;" align="left">
                <div style="color: #ffffff; line-height: 140%; text-align: center; word-wrap: break-word;">
                  <p style="font-size: 14px; line-height: 140%;margin: 0;">
                    <span style="font-size: 12px; line-height: 16.8px;">It's time for an expert.</span>
                  </p>
                  <p style="font-size: 14px; line-height: 140%;margin: 0;">
                    <span style="font-size: 12px; line-height: 16.8px;">Let's make the New Normal great again!</span>
                  </p>
                </div>
              </td></tr>
            </table>
            <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
              <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:arial,helvetica,sans-serif;" align="left">
                <table height="0px" align="center" border="0" cellpadding="0" cellspacing="0" width="26%" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;vertical-align: top;border-top: 1px solid #BBBBBB;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%">
                  <tr style="vertical-align: top"><td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;font-size: 0px;line-height: 0px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%"></td></tr>
                </table>
              </td></tr>
            </table>
            <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
              <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:4px 10px 23px;font-family:arial,helvetica,sans-serif;" align="left">
                <div style="color: #858383; line-height: 140%; text-align: center; word-wrap: break-word;">
                  <p style="font-size: 14px; line-height: 140%;margin: 0;">
                    <span style="font-size: 12px; line-height: 16.8px;">You are subscribed to Swisshack's Mailing List. 
                    <a href="https://google.com"> <span style="text-decoration: underline; line-height: 16.8px; font-size: 12px; color:#8f8f8f"></span> </a>
                    </span>
                  </p>
                </div>
              </td></tr>
            </table>
          </div>
        </div>
      </td></tr>
    </table>
  </div>
  
  
  <!-- Function 4: After username change -->
  <!-- span tag id: function4-user -->
  <div th:if="${isUsernameChange}">
    <table style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;vertical-align: top;min-width: 320px;Margin: 0 auto;background-color: #ffffff;width:100%" cellpadding="0" cellspacing="0">
      <tr style="vertical-align: top"><td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">
        <div style="margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #13181b;">
          <img align="left" border="0" src="https://i.imgur.com/kLMUMZx.png" alt="Image" title="Image" style="padding:20px; padding-left:50px; outline: none;text-decoration: none;display: inline-block !important;border: none;height: auto;float: none;width: 29%;max-width: 69.6px;" width="69.6"/>
        </div>
        <div style="padding-top: 10px;padding-bottom: 10px;">
          <div style="background-image: url('https://i.imgur.com/o3KR3Hw.jpeg');margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #ffffff;">
            <div style="border-collapse: collapse;display: table;width: 100%;background-image: url('https://i.imgur.com/o3KR3Hw.jpeg');background-repeat: no-repeat;background-position: center top;background-color: transparent;">
              <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
                <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:93px 10px 10px;font-family:arial,helvetica,sans-serif;" align="left">
                  <div style="color: #ffffff; line-height: 130%; text-align: left; word-wrap: break-word;">
                    <p style="line-height: 130%; font-size: 14px; text-align: center;margin: 0;">
                      <span style="font-family: helvetica, sans-serif; font-size: 38px; line-height: 49.4px;">
                      <span style="line-height: 49.4px; font-size: 38px;">
                      <strong>USERNAME CHANGE</strong>
                      </span>
                      </span>
                    </p>
                  </div>
                </td></tr>
              </table>
              <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
                <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:32px 62px 20px 40px;font-family:arial,helvetica,sans-serif;" align="left">
                  <div style="color: #cec9c9; line-height: 140%; text-align: left; word-wrap: break-word;">
                    <p style="line-height: 140%; font-size: 14px; text-align: center;margin: 0;">
                      <span style="font-family: helvetica, sans-serif; font-size: 18px; line-height: 25.2px; color: #ffffff;">
                      <span id="text" style="line-height: 25.2px; font-size: 18px;">
                      You have recently updated your username.
                      </span>
                      </span>
                    </p>
                  </div>
                </td></tr>
              </table>
              <table style="padding-bottom:90px;font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
                <tr><td style="auto;overflow-wrap:break-word;word-break:break-word;padding:32px 62px 20px 40px;font-family:arial,helvetica,sans-serif;" align="left">
                  <div style="margin:auto;width:300px; height:auto;background-color:#FFFFFFBB;color: #cec9c9; line-height: 140%; text-align: left; word-wrap: break-word;">
                    <p style="padding-top: 26px;padding-bottom: 26px; middle;line-height: 140%; font-size: 14px; text-align: center;margin: 0;">
                      <span style="vertical-align: middle;font-family: helvetica, sans-serif; font-size: 18px; line-height: 25.2px; color: #1f1f1f;">
                      <span style="line-height: 25.2px; font-size: 16.5px;">
                      <strong>New Username: <span th:text="${username}" id="function4-user"></span></strong>
                      </span>
                      </span>
                    </p>
                  </div>
                </td></tr>
              </table>
            </div>
          </div>
        </div>
        <div style="padding: 0px;">
          <div style="margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #13181b;border-collapse: collapse;display: table;width: 100%;">
            <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
              <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:22px 24px 9px;font-family:arial,helvetica,sans-serif;" align="left">
                <div style="color: #ffffff; line-height: 140%; text-align: center; word-wrap: break-word;">
                  <p style="font-size: 14px; line-height: 140%;margin: 0;">
                    <span style="font-size: 12px; line-height: 16.8px;">It's time for an expert.</span>
                  </p>
                  <p style="font-size: 14px; line-height: 140%;margin: 0;">
                    <span style="font-size: 12px; line-height: 16.8px;">Let's make the New Normal great again!</span>
                  </p>
                </div>
              </td></tr>
            </table>
            <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
              <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:arial,helvetica,sans-serif;" align="left">
                <table height="0px" align="center" border="0" cellpadding="0" cellspacing="0" width="26%" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;vertical-align: top;border-top: 1px solid #BBBBBB;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%">
                  <tr style="vertical-align: top"><td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;font-size: 0px;line-height: 0px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%"></td></tr>
                </table>
              </td></tr>
            </table>
            <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
              <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:4px 10px 23px;font-family:arial,helvetica,sans-serif;" align="left">
                <div style="color: #858383; line-height: 140%; text-align: center; word-wrap: break-word;">
                  <p style="font-size: 14px; line-height: 140%;margin: 0;">
                    <span style="font-size: 12px; line-height: 16.8px;">You are subscribed to Swisshack's Mailing List. 
                    <a href="https://google.com"> <span style="text-decoration: underline; line-height: 16.8px; font-size: 12px; color:#8f8f8f"></span> </a>
                    </span>
                  </p>
                </div>
              </td></tr>
            </table>
          </div>
        </div>
      </td></tr>
    </table>
  </div>
  
  
  <!-- Function 6: After email change -->
  <div th:if="${isEmailChange}">
    <table style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;vertical-align: top;min-width: 320px;Margin: 0 auto;background-color: #ffffff;width:100%" cellpadding="0" cellspacing="0">
      <tr style="vertical-align: top"><td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">
        <div style="margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #13181b;">
          <img align="left" border="0" src="https://i.imgur.com/kLMUMZx.png" alt="Image" title="Image" style="padding:20px; padding-left:50px; outline: none;text-decoration: none;display: inline-block !important;border: none;height: auto;float: none;width: 29%;max-width: 69.6px;" width="69.6"/>
        </div>
        <div style="padding-top: 10px;padding-bottom: 10px;">
          <div style="background-image: url('https://i.imgur.com/o3KR3Hw.jpeg');margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #ffffff;">
            <div style="border-collapse: collapse;display: table;width: 100%;background-image: url('https://i.imgur.com/o3KR3Hw.jpeg');background-repeat: no-repeat;background-position: center top;background-color: transparent;">
              <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
                <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:93px 10px 10px;font-family:arial,helvetica,sans-serif;" align="left">
                  <div style="color: #ffffff; line-height: 130%; text-align: left; word-wrap: break-word;">
                    <p style="line-height: 130%; font-size: 14px; text-align: center;margin: 0;">
                      <span style="font-family: helvetica, sans-serif; font-size: 38px; line-height: 49.4px;">
                      <span style="line-height: 49.4px; font-size: 38px;">
                      <strong>EMAIL CHANGE</strong>
                      </span>
                      </span>
                    </p>
                  </div>
                </td></tr>
              </table>
              <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
                <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:32px 62px 20px 40px;font-family:arial,helvetica,sans-serif;" align="left">
                  <div style="color: #cec9c9; line-height: 140%; text-align: left; word-wrap: break-word;">
                    <p style="line-height: 140%; font-size: 14px; text-align: center;margin: 0;">
                      <span style="font-family: helvetica, sans-serif; font-size: 18px; line-height: 25.2px; color: #ffffff;">
                      <span id="text" style="line-height: 25.2px; font-size: 18px;">
                      You have recently updated your email. Your account is now associated with this email address.
                      </span>
                      </span>
                    </p>
                  </div>
                </td></tr>
              </table>
            </div>
          </div>
        </div>
        <div style="padding: 0px;">
          <div style="margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #13181b;border-collapse: collapse;display: table;width: 100%;">
            <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
              <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:22px 24px 9px;font-family:arial,helvetica,sans-serif;" align="left">
                <div style="color: #ffffff; line-height: 140%; text-align: center; word-wrap: break-word;">
                  <p style="font-size: 14px; line-height: 140%;margin: 0;">
                    <span style="font-size: 12px; line-height: 16.8px;">It's time for an expert.</span>
                  </p>
                  <p style="font-size: 14px; line-height: 140%;margin: 0;">
                    <span style="font-size: 12px; line-height: 16.8px;">Let's make the New Normal great again!</span>
                  </p>
                </div>
              </td></tr>
            </table>
            <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
              <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:arial,helvetica,sans-serif;" align="left">
                <table height="0px" align="center" border="0" cellpadding="0" cellspacing="0" width="26%" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;vertical-align: top;border-top: 1px solid #BBBBBB;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%">
                  <tr style="vertical-align: top"><td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;font-size: 0px;line-height: 0px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%"></td></tr>
                </table>
              </td></tr>
            </table>
            <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
              <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:4px 10px 23px;font-family:arial,helvetica,sans-serif;" align="left">
                <div style="color: #858383; line-height: 140%; text-align: center; word-wrap: break-word;">
                  <p style="font-size: 14px; line-height: 140%;margin: 0;">
                    <span style="font-size: 12px; line-height: 16.8px;">You are subscribed to Swisshack's Mailing List. 
                    <a href="https://google.com"> <span style="text-decoration: underline; line-height: 16.8px; font-size: 12px; color:#8f8f8f"></span> </a>
                    </span>
                  </p>
                </div>
              </td></tr>
            </table>
          </div>
        </div>
      </td></tr>
    </table>
  </div>
  
  <!-- Function 7: After password change -->
  <!-- span tag id: function3-pw -->
  <div th:if="${isPasswordChange}">
    <table style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;vertical-align: top;min-width: 320px;Margin: 0 auto;background-color: #ffffff;width:100%" cellpadding="0" cellspacing="0">
      <tr style="vertical-align: top"><td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">
        <div style="margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #13181b;">
          <img align="left" border="0" src="https://i.imgur.com/kLMUMZx.png" alt="Image" title="Image" style="padding:20px; padding-left:50px; outline: none;text-decoration: none;display: inline-block !important;border: none;height: auto;float: none;width: 29%;max-width: 69.6px;" width="69.6"/>
        </div>
        <div style="padding-top: 10px;padding-bottom: 10px;">
          <div style="background-image: url('https://i.imgur.com/o3KR3Hw.jpeg');margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #ffffff;">
            <div style="border-collapse: collapse;display: table;width: 100%;background-image: url('https://i.imgur.com/o3KR3Hw.jpeg');background-repeat: no-repeat;background-position: center top;background-color: transparent;">
              <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
                <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:93px 10px 10px;font-family:arial,helvetica,sans-serif;" align="left">
                  <div style="color: #ffffff; line-height: 130%; text-align: left; word-wrap: break-word;">
                    <p style="line-height: 130%; font-size: 14px; text-align: center;margin: 0;">
                      <span style="font-family: helvetica, sans-serif; font-size: 38px; line-height: 49.4px;">
                      <span style="line-height: 49.4px; font-size: 38px;">
                      <strong>PASSWORD CHANGED</strong>
                      </span>
                      </span>
                    </p>
                  </div>
                </td></tr>
              </table>
              <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
                <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:32px 62px 20px 40px;font-family:arial,helvetica,sans-serif;" align="left">
                  <div style="color: #cec9c9; line-height: 140%; text-align: left; word-wrap: break-word;">
                    <p style="line-height: 140%; font-size: 14px; text-align: center;margin: 0;">
                      <span style="font-family: helvetica, sans-serif; font-size: 18px; line-height: 25.2px; color: #ffffff;">
                      <span style="line-height: 25.2px; font-size: 18px;">
                      You have recently changed your password. Please login using your new credentials from now on. Thank you.
                      </span>
                      </span>
                    </p>
                  </div>
                </td></tr>
              </table>
            </div>
          </div>
        </div>
        <div style="padding: 0px;">
          <div style="margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #13181b;border-collapse: collapse;display: table;width: 100%;">
            <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
              <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:22px 24px 9px;font-family:arial,helvetica,sans-serif;" align="left">
                <div style="color: #ffffff; line-height: 140%; text-align: center; word-wrap: break-word;">
                  <p style="font-size: 14px; line-height: 140%;margin: 0;">
                    <span style="font-size: 12px; line-height: 16.8px;">It's time for an expert.</span>
                  </p>
                  <p style="font-size: 14px; line-height: 140%;margin: 0;">
                    <span style="font-size: 12px; line-height: 16.8px;">Let's make the New Normal great again!</span>
                  </p>
                </div>
              </td></tr>
            </table>
            <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
              <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:arial,helvetica,sans-serif;" align="left">
                <table height="0px" align="center" border="0" cellpadding="0" cellspacing="0" width="26%" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;vertical-align: top;border-top: 1px solid #BBBBBB;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%">
                  <tr style="vertical-align: top"><td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;font-size: 0px;line-height: 0px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%"></td></tr>
                </table>
              </td></tr>
            </table>
            <table style="font-family:arial,helvetica,sans-serif;" cellpadding="0" cellspacing="0" width="100%" border="0">
              <tr><td style="overflow-wrap:break-word;word-break:break-word;padding:4px 10px 23px;font-family:arial,helvetica,sans-serif;" align="left">
                <div style="color: #858383; line-height: 140%; text-align: center; word-wrap: break-word;">
                  <p style="font-size: 14px; line-height: 140%;margin: 0;">
                    <span style="font-size: 12px; line-height: 16.8px;">You are subscribed to Swisshack's Mailing List. 
                    <a href="https://google.com"> <span style="text-decoration: underline; line-height: 16.8px; font-size: 12px; color:#8f8f8f"></span> </a>
                    </span>
                  </p>
                </div>
              </td></tr>
            </table>
          </div>
        </div>
      </td></tr>
    </table>
  </div>