name: Main CI

on: [push, pull_request]

jobs:
  news-api:
    name: News API CI
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./NewsMicroservice
    strategy:
      matrix:
        node-version: [14.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - name: Install dependencies
        run: npm install
      - name: Runs all the best
        run: npm test
