on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened]
    branches:
      - main
      
defaults:
  run:
    working-directory: ./FrontEnd

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    name: Build and Deploy Static Web
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Build and Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          action: "upload"
          app_location: '/'
          output_location: 'dist'
          app_build_command: 'npm run build'